<header class="masthead" style="background-image: url('<%= image_path('post-bg.jpg') %>')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1><%= @article.title %></h1>
          <h2 class="subheading"><%= @article.meta_description %></h2>
          <span class="meta">
            Posted by
            <a href="#!"><%= @article.author_email %></a>
            on <%= l(@article.created_at, format: :short) %>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <%= @article.content %>
          </div>
      </div>
  </div>
</article>

<hr />
