<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'admin/base', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'admin/base', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to('Sign Out', destroy_user_session_path) %>
    <%= yield %>
  </body>
</html>
